{% extends 'base.html' %} 

{% block header %}
<h1>{% block title %}{{ game['game_name'] }}{% endblock %}</h1>
{% endblock %} 

{% block content %}
<table id="game-table">
  <thead>
    <tr>
      <th>Game</th>
      <th>Last Played</th>
      <th>Last Winner</th>
      <th>Add Game Played</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr class="game">
      <td><a class="game-name" href="/game/{{ game['game_id']}}">{{ game['game_name'] }}</a></td>
      <td>
        {% if game['last_played'] is none %}
            Not played yet
        {% else %}
            {{ game['last_played'] }}
        {% endif %}
      </td>
      <td>
        {% if game['player_name'] is none %}
            No winner yet
        {% else %}
            <a class="game-winner" href="#">{{ game['player_name'] }}</a>
        {% endif %}
      </td>
      <td id="add-game-col">
        <a class="add-game-button" href="#"><span class="material-symbols-rounded">add</span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
