{% extends 'base.html' %} 

{% block header %}
<h1>{% block title %}{{ game['game_name'] }}{% endblock %}</h1>
{% endblock %} 

{% block content %}
<table id="game-table">
  <thead>
    <tr>
      <th>Date Played</th>
      <th>Players</th>
      <th>Winner</th>
    </tr>
  </thead>
  <tbody>
    {% for play in plays %}
    <tr class="game">
      <td>{{ play['date_played'] }}</td>
      <td>
        some players names here
      </td>
      <td>
        <a href="/player/{{ play['player_id'] }}">
          {{ play['player_name'] }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
