<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Game Tracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <h1>Game Tracker</h1>
        {% if g.player %}
            <span>{{ g.player['player_name'] }}</span>
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <a href="{{ url_for('auth.register') }}">Register</a>
            <a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </nav>
    </header>

    <main>
      <section class="content">
        
<div id="page-header">{% block header %}{% endblock %}</div>
        {% for message in get_flashed_messages() %}
        <div class="alert error">{{ message }}</div>
        {% endfor %} {% block content %}{% endblock %}
      </section>
    </main>
  </body>
</html>
